.temporaryStyleHeaderSearch {
    height: 100%;
    width: 30%;
    background-color: cadetblue;

    display: flex;
    align-items: center;
    justify-content: center;
}

.temporaryStyleHeaderSearch input {
    height: 20px;
    width: 260px;
    border-radius: 10px;
    padding: 10px 20px;
}